{% extends '/base/default-dashboard.html' %}

{% block breadcrumbs %}
<a href="{{ url_for('administration.attendances.index') }}" class="section">Activity</a>
{% endblock %}

{% block dashboard_title %}
  Assignments
{% endblock dashboard_title %}

{% block content %}
  <div class="ui container">
    <div class="ui labeled icon menu">
      <a class="item" href="{{ url_for('administration.attendances.create') }}"><i class="add icon"></i>Add</a>
    </div>
</div>

<div class="ui container" style="margin-top: 20px;">
	{% if attendances %}
	 <table class="ui celled table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Score</th>
				</tr>
			</thead>
			<body>
{% for attendance in attendances %}
				<tr>
					<td>
						<a href="{{ url_for('administration.attendances.view', attendance_id=attendance.id) }}">{{ attendance.name }}</a>
					</td>
					<td>
						{{ attendance.description }}
					</td>
					<td>
						{{ attendance.score }}
					</td>
				</tr>
{% endfor %}
			</body>
		</table>
		{% endif %}
</div>
{% endblock %}
