{% extends '/administration/classes/index.html' %}
{#
{% import '/base/attendance-style.html' as ass_style %}
#}
{% block dashboard_title %}Attendance: {{ attendance.name }}{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="section"><a href="{{ url_for('administration.classes.view', class_id=attendance.class_.id) }}">{{ attendance.class_.name }}</a></div>
  <i class="right angle icon divider"></i>
  <div class="active section">List Attendaces</div>
{% endblock %}

{% block content %}
  <div class="ui container">
    <div class="ui segment">  
      <h2>{{ attendance.name }} </h2>
      <b>Description: </b>{{ attendance.desctiption }}<br/>
      <b>Start Date: </b>{{ attendance.started_date }}<br/>
      <b>End Date: </b>{{ attendance.ended_date }}<br/>
    </div>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Student ID</th>
          <th>Student</th>
          <th>Section</th>
          <th>Role</th>
          <th>Score</th>
          <th>Registration Time</th>
          <th>Location</th>
          <th>Operation</th>
        </tr>
      </thead>
      <tbody>
        {% for attendee in attendees %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ attendee.user.username }}</td>
            <td>{{ attendee.user.first_name }} {{ attendee.user.last_name }}</td>
            <td>
              {{ attendee.attendance.class_.get_section(attendee.user) }}
            </td>
            <td>{{ attendee.student_roles | join(', ') }}</td>
            <td>{{ attendee.attendance.class_.get_attendee_score(attendee) }}</td>
            <td>
              {{ attendee.registration_date }}
            </td>
            <td>
              {% if attendee.location %}
                {{ attendee.location | join(', ') }}
              {% endif %}
            </td>
            <td>
              <a class="ui icon primary button" href="{{ url_for('administration.attendees.edit_roles', attendee_id=attendee.id) }}">Edit</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
