{% extends '/administration/attendances/index.html' %}
{% import '/base/html-renderer.html' as renderer %}

{% block additional_js %}
  <script type="text/javascript">
    $('.ui.dropdown')
      .dropdown()
    ;
    datetime_formatter = {
      datetime: 'YYYY-MM-DD HH:mm',
      date: 'YYYY-MM-DD'
    };

    $('#started_date_calendar').calendar({
      //type: 'date',
      formatter: datetime_formatter,
      endCalendar: $('#ended_date_calendar')
    });
    $('#ended_date_calendar').calendar({
      //type: 'date',
      formatter: datetime_formatter,
      startCalendar: $('#started_date_calendar')
    });
    $('#until_date_calendar').calendar({
      type: 'date',
      formatter: date_formatter,
    });
	</script>
{% endblock %}

{% block title %}Create Schedule Activity{% endblock %}

{% block dashboard_title %}
  {% if 'edit' in request.path %}
    Edit Schedule Activity: {{ form.name.data }}
  {% else %}
    Create Schedule Activity
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  {% if 'edit' in request.path %}
    <div class="active section">Edit Schedule Activity: {{ form.name.data }}</div>
  {% else %}
    <div class="active section">Create Schedule Activity</div>
  {% endif %}
{% endblock %}

{% block content %}
<div class="ui container">
  <div class="ui segment">
    <form method="POST" class="ui form">
      {{ form.csrf_token }}
      {{ renderer.render_field(form.name) }}
      {{ renderer.render_field(form.description) }}

      <div class="two fields">
        {{ renderer.render_multiple_select(form.sections) }}
        {{ renderer.render_field(form.score) }}
      </div>
      {#
      {{ renderer.render_select(form.class_) }}
      {{ renderer.render_field(form.tags) }}
      #}

      <div class="two fields">
        {{ renderer.render_calendar(form.started_date, calendar_id='started_date_calendar') }}
        {{ renderer.render_calendar(form.ended_date, calendar_id='ended_date_calendar') }}
      </div>
      <div class="two fields">
        {{ renderer.render_select(form.repeat) }}
        {{ renderer.render_calendar(form.until_date, calendar_id='until_date_calendar') }}
      </div>
        {{ renderer.render_checkbox(form.required_student_roles) }}
        {{ renderer.render_checkbox(form.required_location) }}
      <button name="create" type="submit" class="ui button primary">{{ 'Create' if 'edit' not in request.path else 'Create' }}</button>
    </form>
  </div>
</div>

{% endblock %}
