{% extends '/administration/classes/index.html' %}
{% import '/base/error-handler.html' as eh %}


{% block additional_head %}
  {{ super.additiona_head }}

  <script type="text/javascript">

    $(document).ready(function(){
        {% for attendance in attendances %}
        $('.ui.modal.{{ attendance.id }}')
            .modal('attach events', '.ui.icon.button.qrcode.{{ attendance.id }}', 'show')
          ;
        {% endfor %}

        $('.tooltip')
          .popup({
          })
            ;

        });
      </script>
{% endblock %}

{% block dashboard_title %}Classes: {{ class_.name }}{% endblock %}

{% block breadcrumbs %}
  {{ super() }}
  <i class="right angle icon divider"></i>
  <div class="ve section">{{ class_.name }}</div>
{% endblock %}


{% block content %}

<div class="ui container">
	<div class="ui segment">
		<div>
			<b>Description:</b> {{ class_.description }}
    </div>
    
		<div>
			<b>Sections:</b> {{ class_.sections | join(', ') }}
    </div>
    {#
		<div>
			<b>Code:</b> {{ class_.code }}
    </div>
		<div>
			<b>Course:</b> <a href="{{ url_for('administration.courses.view', course_id=class_.course.id) }}">{{ class_.course.name }}</a>
		</div>
		<div>
			<b>Limited Class:</b> {{ class_.limited }}
		</div>
		{% if class_.limited_enrollment %}
		<div>
			<b>Limited Method:</b> {{ class_.limited_enrollment.method }}
		</div>
		<div>
			<b>Limited Grantees:</b> {{ class_.limited_enrollment.grantees | join(', ') }}
		</div>
  {% endif %}
  #}
		<div>
			<b>Started Date:</b> {{ class_.started_date }}
		</div>
		<div>
			<b>Ended Date:</b> {{ class_.ended_date }}
		</div>

		<div>
			<b>Tag:</b> {{ class_.tags | join(', ') }}
    </div>
    {#
    <div>
      <b>Teaching Assistant</b> 
      {% for ta in class_.teaching_assistants %}
        {{ ta.user.first_name }} {{ ta.user.last_name }}, 
      {% endfor %}
    </div>
    #}
    <div>
      <b>Contributors</b> 
      {% for c in class_.contributors %}
        {{ c.first_name }} {{ c.last_name }}, 
      {% endfor %}
    </div>
		<div>
      <b>Student Roles:</b><br> {{ class_.student_roles | join(', ') }}
    </div>

  </div>
</div>

<div class="ui container" style="margin-top: 1em;">
    <div class="ui labeled icon menu">
      {% if class_.owner == current_user %}
      <a class="item" href="{{ url_for('administration.classes.edit', class_id=class_.id) }}"><i class="edit icon"></i>Edit</a>
      <a class="item" href="{{ url_for('administration.classes.add_students', class_id=class_.id) }}"><i class="user icon"></i>Add Student</a>
      <a class="item" href="{{ url_for('administration.classes.list_students', class_id=class_.id) }}"><i class="users icon"></i>Show User</a>
      <a class="item" href="{{ url_for('administration.classes.export_attendees', class_id=class_.id) }}"><i class="th icon"></i>Export Attendees</a>
      {#
      <a class="item" href="{{ url_for('administration.classes.list_students', class_id=class_.id) }}"><i class="student icon"></i>Students</a>
    
      <a class="item" href="{{ url_for('administration.classes.add_teaching_assistant', class_id=class_.id) }}"><i class="clipboard check icon"></i>TA</a>
    {% elif class_.is_teaching_assistant(current_user) %}
      <a class="item" href="{{ url_for('teaching_assistants.classes.list_students', class_id=class_.id) }}"><i class="student icon"></i>Students</a>
    #}
    {% endif %}
    </div>
</div>
<div class="ui container" style="margin-top: 1em;">
    <div class="ui labeled icon menu">
      {% if class_.owner == current_user %}
      <a class="item" href="{{ url_for('administration.attendances.create', class_id=class_.id) }}"><i class="add icon"></i>Add Attendance</a>
      <a class="item" href="{{ url_for('administration.attendances.schedule', class_id=class_.id) }}"><i class="calendar icon"></i>Schedule Attendances</a>
    {% endif %}
    </div>
</div>

<div class="ui container" style="margin-top: 1em;">
		<h2>Attendances</h2>
		<table class="ui celled table">
			<thead>
				<tr>
          <th>Name</th>
          {#
						<th>Challenges</th>
            <th>Scores</th>
            #}
						<th>Section</th>
						<th>Start Date</th>
						<th>End Date</th>
						<th>Operation</th>
				</tr>
			</thead>
			<tbody>
        {% for attendance in attendances %}
          {%- if attendance.started_date <= now < attendance.ended_date %}
            {% set style='positive' %}
          {% elif attendance.ended_date < now %}
            {% set style='negative' %}
          {% else %}
            {% set style='' %}
          {%- endif %}
          <tr class="{{ style }}">
            <td>{{ attendance.name }}</td>
            <td>{{ attendance.sections | join(', ') }}</td>
            {#
					<td>{{ attendance.challenges | count }}</td>
          <td>{{ attendance.score }}</td>
          #}
					<td>{{ attendance.started_date if attendance.started_date else '-' }}</td>
					<td>{{ attendance.ended_date if attendance.ended_date else '-' }}</td>
					<td>
            {% if class_.owner == current_user or current_user in class_.contributors or class_.is_teaching_assistant(current_user) %}
              <a class="ui icon button circular primary tooltip" href="{{ url_for('administration.attendances.edit', class_id=class_.id, attendance_id=attendance.id) }}" data-content="Edit attendance"><i class="edit icon"></i></a>
              <a class="ui icon button circular primary tooltip" href="{{ url_for('administration.classes.set_attendance_time', class_id=class_.id, attendance_id=attendance.id) }}" data-content="Set attendance time"><i class="clock icon"></i></a>
              {#
              <a class="ui icon button circular primary" href="{{ url_for('scoreboards.show_attendance_scores', class_id=class_.id, attendance_id=attendance.id) }}"><i class="award icon"></i></a>
              #}
              <a class="ui icon button circular primary tooltip" href="{{ url_for('administration.attendances.list_attendees', attendance_id=attendance.id) }}" data-content="List participators"><i class="eye icon"></i></a>
              <a class="ui icon button circular primary tooltip" href="{{ url_for('administration.attendances.show_map', attendance_id=attendance.id, section='all') }}" target="blank" data-content="Show student map"><i class="map icon"></i></a>
              <a class="ui icon button circular primary tooltip" href="{{ url_for('administration.attendances.export_attendees', attendance_id=attendance.id, section='all') }}" data-content="Export student information"><i class="th icon"></i></a>
              <a class="ui icon button circular negative tooltip" href="{{ url_for('administration.attendances.delete', attendance_id=attendance.id, section='all') }}" data-content="Delete attendance"><i class="delete icon"></i></a>

            {% endif %}
            
            <button class="ui icon button circular primary tooltip qrcode {{ attendance.id }}" onclick="$" data-content="Show QR code"><i class="qrcode icon"></i></button>
            
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
            	
</div>




{% for attendance in attendances %}
  <div class="ui modal {{ attendance.id }}">
    <i class="close icon"></i>
    <div class="header">
      QR Code Activity
    </div>
    <div class="image content">
      <div class="ui medium image">
        <img src="data:image/png;base64,{{ qr_images[attendance.id]['image'] }}">
      </div>
      <div class="description">
        <div class="ui header">Click this uri</div>
        <p>
        <a href="{{ qr_images[attendance.id]['url'] }}" target="_blank">{{ qr_images[attendance.id]['url'] }}</a>
        </p>
      </div>
    </div>
    <div class="actions">
      <div class="ui positive right labeled icon button">
        OK
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}
